.container{
  display: flex;
  flex-direction: row;
}

p{
  border: 2px solid rgb(0, 0, 128);
  color:rgb(0, 0, 128);
  font-size: 15px;
  position: relative;
  margin: 10px;
  padding: 5px;
  width: 250px;
}

.buttons{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30%;
}

button{
  background-color: rgb(0, 0, 128);
  border: none;
  border-radius: 10px;
  color: rgb(255, 255, 255);
  font-size: 15px;
  margin-top: 10px;
  padding: 10px;
  width: 200px;

  &:hover{
    background-color: rgb(0, 0, 243);
  }
}

span{  
  border-left: 2px solid rgb(0, 0, 128);
  margin: 0 5px;
  padding: 0 5px;
  position: absolute;
  right: 0;
}

.example-box {
  align-items: center;  
  background: #fff;
  border-radius: 5px;
  box-sizing: border-box;
  color: rgb(0, 0, 128);
  cursor: move;
  display: flex;
  flex-direction: row;
  font-size: 15px;
  height: 70px;
  justify-content: center;
  margin: 15px;
  padding: 20px 10px;
  position: relative;
  text-align: center;
    width: 200px;    
    z-index: 1;   
    
    transition: box-shadow 200ms cubic-bezier(0, 0, 0.2, 1);
    box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2),
                0 2px 2px 0 rgba(0, 0, 0, 0.14),
                0 1px 5px 0 rgba(0, 0, 0, 0.12);
  }
  
  .example-box:active {
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
                0 8px 10px 1px rgba(0, 0, 0, 0.14),
                0 3px 14px 2px rgba(0, 0, 0, 0.12);
  }

.group-container{
  display: flex;
  flex-direction: row;
}

.group-box{
  margin: 10px;
}

  .group-list {
    width: 300px;    
    border: 2px solid rgb(0, 0, 128);
    color:rgb(0, 0, 128);
    height: 600px;    
    border-radius: 20px;
    overflow: hidden;
    text-align: center;
  }

  .embedding-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;    
    min-height: 60px;    
    overflow: hidden;
  }
  
  
  .cdk-drag-preview {
    box-sizing: border-box;
    border-radius: 4px;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
                0 8px 10px 1px rgba(0, 0, 0, 0.14),
                0 3px 14px 2px rgba(0, 0, 0, 0.12);
  }

  .cdk-drag-animating {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }
  
  .example-box:last-child {
    border: none;
  }
  
  .group-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }
  
  .example-custom-placeholder {
    background: #ccc;
    border: dotted 3px #999;
    min-height: 60px;
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }
  
  .example-box {
    padding: 20px 10px;
    border-bottom: solid 1px #ccc;
    
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    cursor: move;
    background: white;
    font-size: 14px;
  }

  .cdk-drag-preview {
    box-sizing: border-box;
    border-radius: 4px;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
                0 8px 10px 1px rgba(0, 0, 0, 0.14),
                0 3px 14px 2px rgba(0, 0, 0, 0.12);
  }
  
  .cdk-drag-placeholder {
    opacity: 0;
  }
  
  .cdk-drag-animating {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }
  
  .example-box:last-child {
    border: none;
  }
  
  .group-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }